<header>
     <nav class="navbar navbar-light bg-dark">
         <a class= "navbar-brand" href="#" >{{ title }} </a>
        <ul class= "navbar-nav">  
           <li class = "nav-item">
               <app-menu></app-menu>
           
                <a class= "nav-link d-flex align-items-center" href="#">
                    <div class="dropdown"></div>
                    <i class="material-icons" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup ="true" aria-expanded="true">menu

                    </i>
                       
                    </a>
            </li>
          
       </ul>
     
    </nav>
   

</header>