<div class=" container">
    <h2>instagram</h2>

    <table class="notes">
        <thead class="thead-white">

        
        <tr>

            <th>id</th>
            <th>username</th>
            <th>profilePhoto</th>
            <th>photo</th>
            <th>title</th>
            <th>Description</th>
        </tr>

            </thead>
        <tbody>

            <tr *ngFor=" let data of datas">

                <td>{{datas.id}}</td>
                <td>{{datas.username}}</td>
                <td>{{datas.profilePhoto}} </td>
                <td><{{datas.photo}}</td>
                <td>{{datas.title}}</td>
                <td>{{datas.description}}</td>
              </tr>

            </tbody>

          </table>
</div>
